@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf)format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Roboto';
    background-color: #f2f4f7;
}

.img-main img {
    width: 800px;
    height: 800px;
    display: block;
    margin: 0 auto;
}

.main {
    height: 90vh;
}

.footer {
    background-color: #101828;
    color: #FFF;
}

a {
    color: #589af7;
    text-decoration: none;
}