@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf)format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Roboto';
}

.img-main img {
    width: 800px;
    height: 800px;
    display: block;
    margin: 0 auto;
}

.main {
    height: 90vh;
}

.footer {
    background-color: #101828;
    color: #FFF;
}

a {
    color: #589af7;
    text-decoration: none;
}
/*Estilos para el login modal*/
.logo-container{
    border-radius: 10px;
}
.linkedin-container {
    background-color: #0084b1;
    height: 60px;

}

.facebook-container {
    background-color: #4267b2;
    height: 60px;
}

.google-container {
    background-color: #dd4b39;
    height: 60px;
}
input[type=password]::placeholder{
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 700;
}