<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleos App</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mainStyles.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Empleos App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="container-fluid d-flex justify-content-end">
                    <div class="row">
                        <div class="col">
                            <!--Botones que reaccionarán a una ventana modal-->
                            <a href="#" class="btn btn-outline-success me-2" role="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Inicia Sesi&oacute;n</a>
                            <a href="#" class="btn btn-primary me-2" role="button">Registrarme</a>

                            <!--Modal para registrarse-->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hiden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content p-3">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Inicia sesi&oacute;n en Empleos App</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Ingresa con redes sociales</p>
                                            <div class="row d-flex justify-content-center ">
                                                <div
                                                    class="col-3 logo-container linkedin-container m-2 text-center d-flex justify-content-center align-items-center">
                                                    <img src="../static/logos/linkedin.png" alt="">
                                                </div>
                                                <div
                                                    class="col-3 logo-container facebook-container m-2 d-flex justify-content-center align-items-center">
                                                    <img src="../static/logos/facebook.png" alt="">
                                                </div>
                                                <div
                                                    class="col-3 logo-container google-container m-2 text-center d-flex justify-content-center align-items-center">
                                                    <img src="../static/logos/google-mas.png" alt="">
                                                </div>
                                            </div>
                                            <form class="my-3 needs-validation" action="" method="post" novalidate>
                                                <div class="row">
                                                    <div class="col-12 my-3">
                                                        <label for="email" class="form-label">Tu correo</label>
                                                        <input type="email" class="form-control" id="email" name="email"
                                                            placeholder="ejemplo@email.com" required>
                                                        <div class="valid-feedback">
                                                            ¡Luce bien!
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            Necesita proporcionar un e-mail v&aacute;lido
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="pass" class="form-label">Tu contraseña</label>
                                                        <input type="password" class="form-control" id="pass"
                                                            name="pass" placeholder="············" required>
                                                        <div class="valid-feedback">Luce bien</div>
                                                        <div class="invalid-feedback">Parece que su contraseña
                                                            est&aacute;
                                                            inscorrecta</div>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-3">
                                                    <a href="#" class="">¿Haz olvidado tu contraseña?</a>
                                                </div>
                                                <div class="col-12 my-4">
                                                    <button type="submit" class="btn btn-primary w-100">Iniciar
                                                        sessi&oacute;n</button>
                                                </div>
                                                <p class="text-center">¿Eres nuevo? <span class="me-2"><a
                                                            href="#">Reg&iacute;strate</a></span> </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <main class="container ">
        <div class="row d-flex align-items-center main">
            <div class="col-md-6 pt-5">

                <h2>
                    Conectamos a los profesionales de tecnolog&iacute; con las empresas que la utilizan para tranformar
                    el
                    futuro
                </h2>
                <div class="row">
                    <div class="my-card col col-md-6 my-5">
                        <h5 class="my-card-header">Para perfiles tech</h5>
                        <div class="my-card-body">
                            <p class="my-card-text">Encuentra los mejores Empleos de tecnolog&iacute;a con empresas de
                                Latam y US</p>

                            <button class="btn btn-primary">Encuentra un empleo</button>
                        </div>
                    </div>
                    <div class="my-card col col-md-6 my-5">
                        <h5 class="my-card-header">Para empresas</h5>
                        <div class="my-card-body">
                            <p class="my-card-text">plataforma especializada para reclutar perfiles tech 50% m&aacute;s
                                r&aacute;pido</p>
                            <button class="btn btn-outline-primary">Publica tus vacantes</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 img-main">

                <img src="../static/images/3236267.jpg" alt="">
            </div>

        </div>


    </main>
    <footer class="container-fluid footer">
        <div class="row">
            <div class="col py-3 text-center">
                <p> &copy;Empleos en l&iacute;nea | &copy;By Ervin Triano 2022</p>

            </div>
        </div>
    </footer>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
</body>

</html>