<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleos App - Detalles de la vacante</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/mainStyles.css}">
<link rel="stylesheet" th:href="@{/css/details.css}">
</head>

<body>
   <header th:insert="fragments/navbar-search::menu"></header>
    <main class="container main-details">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header p-4">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img th:src="@{/images/allianceit.png}" class="img-detail" alt="">
                            </div>
                            <div class="col text-end align-self-center">
                                <a href="#" class="btn btn-primary" role="button">Enviar mi CV</a>
                            </div>
                            <div class="col-12 mt-4 vacant">
                                <h5 class="vacant-title mb-2">Programador Java</h5>
                                <h6 class="vacant-salary mb-2">Sueldo: $45,000</h6>
                            </div>
                            <div class="col-12 d-flex my-2" style="color: #00bddd;">
                                <div class="flex mx-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                    </svg>
                                    <span class="text-muted">Quer&eacute;taro</span>
                                </div>
                                <div class="flex mx-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-watch" viewBox="0 0 16 16">
                                        <path d="M8.5 5a.5.5 0 0 0-1 0v2.5H6a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V5z" />
                                        <path
                                            d="M5.667 16C4.747 16 4 15.254 4 14.333v-1.86A5.985 5.985 0 0 1 2 8c0-1.777.772-3.374 2-4.472V1.667C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v1.86a5.99 5.99 0 0 1 1.918 3.48.502.502 0 0 1 .582.493v1a.5.5 0 0 1-.582.493A5.99 5.99 0 0 1 12 12.473v1.86c0 .92-.746 1.667-1.667 1.667H5.667zM13 8A5 5 0 1 0 3 8a5 5 0 0 0 10 0z" />
                                    </svg>
                                    <span class="text-muted">Tiempo completo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sed perspiciatis aperiam veniam
                            illum pariatur illo officia, rem quasi ratione inventore ipsum, ex saepe voluptatum nam
                            praesentium quae! Quas, quibusdam magnam. Exercitationem soluta accusamus eligendi pariatur
                            impedit a nisi dolor sapiente enim corporis dolorem, itaque deleniti, officiis cupiditate
                            nesciunt explicabo!</p>
                        <p> <strong>Lorem ipsum dolor sit amet.</strong> </p>

                        <ul>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, dolores.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                            <li>Lorem, ipsum dolor.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem, ipsum.</li>
                            <li>Lorem ipsum dolor sit amet consectetur.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet. Lorem, ipsum dolor.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer th:insert="fragments/footer::footer"></footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
</body>

</html>