<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleos App - Detalles de la vacante</title>
    <link rel="stylesheet" href="../../static/css/mainStyles.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/details.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light  menu-bar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Empleos App</a>

            <form action="" method="get" class="d-lg-flex d-none form-search p-3 shadow">
                <input type="search" class="form-control mx-1" placeholder="Buscar" aria-label="Buscar">

                <select name="" id="" class="form-select" aria-label="Default select">
                    <option value="todo-mexico" selected>Todo M&eacute;xico</option>
                    <option value="guadalajara">Guadalajara</option>
                    <option value="monterrey">Monterrey</option>
                    <option value="chiapas">Chiapas</option>
                    <option value="durango">Durango</option>
                    <option value="guanajuato">Guanajuato</option>
                    <option value="veracruz">Veracruz</option>
                </select>


                <button class="btn btn-primary mx-2 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
            </form>

            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-outline-success me-2" role="button" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Inicia Sesi&oacute;n</a>
                    <a href="#" class="btn btn-primary me-2" role="button">Registrarme</a>

                    <!--Modal para registrarse-->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hiden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content p-3">
                                <div class="modal-header">
                                    <h5 class="modal-title">Inicia sesi&oacute;n en Empleos App</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Ingresa con redes sociales</p>
                                    <div class="row d-flex justify-content-center ">
                                        <div
                                            class="col-3 logo-container linkedin-container m-2 text-center d-flex justify-content-center align-items-center">
                                            <img src="../../static/logos/linkedin.png" alt="">
                                        </div>
                                        <div
                                            class="col-3 logo-container facebook-container m-2 d-flex justify-content-center align-items-center">
                                            <img src="../../static/logos/facebook.png" alt="">
                                        </div>
                                        <div
                                            class="col-3 logo-container google-container m-2 text-center d-flex justify-content-center align-items-center">
                                            <img src="../../static/logos/google-mas.png" alt="">
                                        </div>
                                    </div>
                                    <form class="my-3 needs-validation" action="" method="post" novalidate>
                                        <div class="row">
                                            <div class="col-12 my-3">
                                                <label for="email" class="form-label">Tu correo</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    placeholder="ejemplo@email.com" required>
                                                <div class="valid-feedback">
                                                    ¡Luce bien!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Necesita proporcionar un e-mail v&aacute;lido
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <label for="pass" class="form-label">Tu contraseña</label>
                                                <input type="password" class="form-control" id="pass" name="pass"
                                                    placeholder="············" required>
                                                <div class="valid-feedback">Luce bien</div>
                                                <div class="invalid-feedback">Parece que su contraseña est&aacute;
                                                    inscorrecta</div>
                                            </div>
                                        </div>
                                        <div class="col-12 my-3">
                                            <a href="#" class="">¿Haz olvidado tu contraseña?</a>
                                        </div>
                                        <div class="col-12 my-4">
                                            <button type="submit" class="btn btn-primary w-100">Iniciar
                                                sessi&oacute;n</button>
                                        </div>
                                        <p class="text-center">¿Eres nuevo? <span class="me-2"><a
                                                    href="#">Reg&iacute;strate</a></span> </p>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </nav>
    <main class="container main-details">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header p-4">
                        <div class="row d-flex">
                            <div class="col align-self-center">
                                <img src="../../static/images/allianceit.png" class="img-detail" alt="">
                            </div>
                            <div class="col text-end align-self-center">
                                <a href="#" class="btn btn-primary" role="button">Enviar mi CV</a>
                            </div>
                            <div class="col-12 mt-4 vacant">
                                <h5 class="vacant-title mb-2">Programador Java</h5>
                                <h6 class="vacant-salary mb-2">Sueldo: $45,000</h6>
                            </div>
                            <div class="col-12 d-flex my-2" style="color: #00bddd;">
                                <div class="flex mx-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                                    </svg>
                                    <span class="text-muted">Quer&eacute;taro</span>
                                </div>
                                <div class="flex mx-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-watch" viewBox="0 0 16 16">
                                        <path d="M8.5 5a.5.5 0 0 0-1 0v2.5H6a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V5z" />
                                        <path
                                            d="M5.667 16C4.747 16 4 15.254 4 14.333v-1.86A5.985 5.985 0 0 1 2 8c0-1.777.772-3.374 2-4.472V1.667C4 .747 4.746 0 5.667 0h4.666C11.253 0 12 .746 12 1.667v1.86a5.99 5.99 0 0 1 1.918 3.48.502.502 0 0 1 .582.493v1a.5.5 0 0 1-.582.493A5.99 5.99 0 0 1 12 12.473v1.86c0 .92-.746 1.667-1.667 1.667H5.667zM13 8A5 5 0 1 0 3 8a5 5 0 0 0 10 0z" />
                                    </svg>
                                    <span class="text-muted">Tiempo completo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sed perspiciatis aperiam veniam
                            illum pariatur illo officia, rem quasi ratione inventore ipsum, ex saepe voluptatum nam
                            praesentium quae! Quas, quibusdam magnam. Exercitationem soluta accusamus eligendi pariatur
                            impedit a nisi dolor sapiente enim corporis dolorem, itaque deleniti, officiis cupiditate
                            nesciunt explicabo!</p>
                        <p> <strong>Lorem ipsum dolor sit amet.</strong> </p>

                        <ul>
                            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, dolores.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
                            <li>Lorem, ipsum dolor.</li>
                            <li>Lorem ipsum dolor sit.</li>
                            <li>Lorem ipsum dolor, sit amet consectetur adipisicing.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem, ipsum.</li>
                            <li>Lorem ipsum dolor sit amet consectetur.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet. Lorem, ipsum dolor.</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="container-fluid footer position-fixed start-0 bottom-0">
        <div class="row">
            <div class="col py-3 text-center">
                <p> &copy;Empleos en l&iacute;nea | &copy;By Ervin Triano 2022</p>
            </div>
        </div>
    </footer>

    <script src="../../static/bootstrap/js/bootstrap.js"></script>
</body>

</html>